ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

label {
  cursor: pointer;
}

label:last-child .list label:last-child li {
  margin-bottom: 0;
}

.list {
  display: none;
}

.list li {
  margin-bottom: 21px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 85px;
}

.list li a {
  color: #00adaa;
}

.list li a:hover {
  text-decoration: underline;
}

.list li:after {
  margin-right: 20px;
  margin-left: -43px;
  position: absolute;
  display: block;
  background-image: url("../src/images/green-circle.svg");
  background-repeat: no-repeat;
  background-size: 20px 25px;
  width: 20px;
  height: 25px;
  content: "";
  font-family: "icomoon";
  padding: 0 2px;
}


/* inputs */

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked ~ *.list {
  display: block;
}

input[type="radio"]:checked + li:after {
  left: 0%;
  right: 77.94%;
}

input[type="checkbox"]:checked + li:after {
  content: url("../src/images/checked.svg");
}